@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p class="lead">Indiana's favorite store since 1977.</p>
    @Html.ActionLink("Learn More About Us", "About")
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
            Come browse our products and see what we have for you.
        </p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large"})
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>We love our customers! Come and meet our favorite people in Indiana!</p>
        @Html.ActionLink("Meet Our Customers", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>We are proud of the quality products we sell our wonderful customers. Feel free to take a look at all of our orders!</p>
        @Html.ActionLink("View Transactions", "Index", "Transaction", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>